@model ApplicationCore.Models.MovieCardModel

@*Movie Card Partial View *@


<div class="card mb-4">
    <a asp-controller="Movie" asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title" />
    </a>
</div>
            