@model ApplicationCore.Models.MovieDetailsModel

<div class="container-fluid">
    <div class="row" id="movie_title">
        <div class="col-5 justify-content-center">
            <img src="@Model.PosterUrl" class="img-fluid" />
        </div>
        <div class="col-5">
            
        </div>
        <div class="col-2 justify-content-center">

        </div>
    </div>
    <div class="row" id="movie_content">

    </div>

</div>